* {
    padding: 0;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url('./img/musicimg2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav li {
    float: left;
    list-style: none;
    margin: 2px;
    border: 2px solid black;
    border-radius: 12px;
}

.nav a {
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 19px;
    font-weight: 550;
    display: block;
    padding: 5px 35px;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    color: aliceblue;
    background-color: black;
}

.content {
    width: 100%;
    position: absolute;
    top: 35%;
    right: 10%;
}

.left-col {
    margin-left: 18%;
}

.left-col h1 {
    font-size: 60px;
    color: rgb(148, 38, 8);
}

.left-col p {
    font-size: 30px;
    color: black;
}

#icon {
    cursor: pointer;
}

.soul {
    background-image: url('./img/soulimg.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.soul p {
    text-align: center;
}

.art p {
    text-align: center;
    font-variant: small-caps;
}

.art {
    background-color: rgb(239, 215, 185);
}

.art img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    border: 2px solid black;
}

#contact {
    height: 100px;
}

#contact{
    background: url('./img/contactimg.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

#contactbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactbox input,
#contactbox textarea {
    width: 100%;
    padding: 9px 5px;
}

#contactbox label {
    font-size: 1.2rem;
}

#btn{
    padding: 12px;
    border-radius: 17px;
}
#btn:hover{
    background-color: black;
    color: aliceblue;
    box-shadow: 0 2px 6px 0 aliceblue,0 2px 18px aliceblue;
}

